<!--Navbar Section-->
<mat-toolbar color="primary">
  <button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <form *ngIf="searchInputOn">
    <!--    <mat-search-bar>-->
    <input matInput type="text"
           placeholder="Search"
           [value]="searchValue"
           (keyup)="onUserSearch($event.target.value)">
    <!--    </mat-search-bar>-->
  </form>

  <span>
    <button mat-button (click)="showAllProducts()">All</button>
      <button
        mat-button *ngFor="let category of categories"
        (click)="filterProductsByCategory(category._id)">{{ category.name }}
      </button>
  </span>
  <!--  <button mat-icon-button [mat-menu-trigger-for]="menu">-->
  <!--    <mat-icon>more_vert</mat-icon>-->
  <!--  </button>-->

  <!--  <span class="spacer"></span>-->
  <!--  <form *ngIf="searchInputOn">-->
  <!--&lt;!&ndash;    <mat-search-bar>&ndash;&gt;-->
  <!--      <input matInput type="text"-->
  <!--             placeholder="Search"-->
  <!--             [value]="searchValue"-->
  <!--             (keyup)="onUserSearch($event.target.value)">-->
  <!--&lt;!&ndash;    </mat-search-bar>&ndash;&gt;-->
  <!--  </form>-->

</mat-toolbar>
<!--<mat-menu #menu="matMenu">-->
<!--  <button mat-menu-item>Option 1</button>-->
<!--  <button mat-menu-item>Option 2</button>-->
<!--</mat-menu>-->

<!--Cart Sidebar Section-->
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h3>Shopping Cart</h3>
    <div *ngIf="this.authService.userCart.products.length > 0">

      <div class="row" *ngFor="let cartProduct of currentCartProducts">
        <div class="col-md-5 to-left cartItem">
          <img class="cart-item-img" [src]="productsForCart[cartProduct._id].imageURL" alt="...">
        </div>
        <ul class="col-md-7 to-center">
          <li>
            <span>{{ cartProduct.quantity }}X</span> {{ productsForCart[cartProduct._id].name }}
            <div>{{ productsForCart[cartProduct._id].price * cartProduct.quantity | currency: 'USD'}}</div>
            <button mat-button (click)="deleteProductFromCart(cartProduct._id)">
              <mat-icon>remove_shopping_cart</mat-icon>
            </button>
          </li>
        </ul>
      </div>

      <div>
        <p>Total: <span>{{ totalPrice | currency: 'USD' }}</span></p>
      </div>
      <button mat-button (click)="cleanCart()"
      >Delete All Products
      </button>
      <a href="#0" class="checkout-btn">Checkout</a>
    </div>
  </mat-drawer>

  <!--  All Products Section-->
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="!isLoading">
    <div *ngIf="!productsByCategory">
      <div class="row">
        <mat-card class="col-lg-2 col-md-4 col-sm-6" *ngFor="let item of products | keyvalue">
          <div class="to-center productImg">
            <img class="card-img-top" [src]="products[item.key].imageURL">
          </div>
          <div class="mat-card-content">
            <h4 class="to-center">{{ products[item.key].name }}</h4>
            <p class="to-center">{{ products[item.key].price | currency: 'USD'}}</p>
            <div class="card-footer">
              <button *ngIf="item.key !== productId; else updateQuantity"
                      mat-button class="justifier"
                      (click)="addToCart(item.key)">Add to Cart
              </button>
              <ng-template #updateQuantity>
                <form>
                  <div class="row">
                    <button class="col-2 qnt-btn" mat-button (click)="removeItem(item.key)">-</button>
                    <div class="col input-box">
                      <input type="number" min="0" class="input-res to-center" name="quantity" [(ngModel)]="quantity"
                             oninput="validity.valid||(value='')">
                    </div>
                    <button class="col-2 qnt-btn" mat-button (click)="addItem(item.key)">+</button>
                    <button *ngIf="productId === item.key" mat-button class="justifier"
                            (click)="sendToCart(item.key, quantity)">Send To Cart
                    </button>
                  </div>
                </form>
              </ng-template>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <!--Products by Category-->
    <div class="row">
      <mat-card class="col-lg-2 col-md-4 col-sm-6" *ngFor="let item of productsByCategory">
        <div class="to-center productImg">
          <img class="card-img-top" [src]="item.imageURL" [alt]="item.imageURL">
        </div>
        <div class="mat-card-content">
          <h4 class="to-center"> {{ item.name }} </h4>
          <p class="to-center"> {{ item.price | currency:'USD'}} </p>
          <div class="card-footer">
            <button *ngIf="item._id !== productId" mat-button class="justifier"
                    (click)="addToCart(item._id)">Add To Cart
            </button>
            <div *ngIf="productId === item._id" class="to-center">
              <button mat-button (click)="removeItem(item._id)">-</button>
              <div>  {{ quantity }}  </div>
              <button mat-button (click)="addItem(item._id)">+</button>
            </div>
            <button *ngIf="productId === item._id" mat-button class="justifier"
                    (click)="sendToCart(productId, quantity)">Send To Cart
            </button>
          </div>
        </div>
      </mat-card>
    </div>

  </div>
</mat-drawer-container>
