<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <div>{{ currentCartProducts }}</div>
    <!--    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>-->
    <!--    <button (click)="showFiller = !showFiller" mat-raised-button>-->
    <!--      Toggle extra text-->
    <!--    </button>-->
  </mat-drawer>

  <div>
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <span class="container">
      <button mat-button *ngFor="let category of categories"
              (click)="filterProductsByCategory(category._id)">{{ category.name }}</button>
      <div *ngFor="let product of productsByCategory">
        <div>{{ product.name}} {{ product.price }} {{ product.imageURL }}</div>
        <button mat-button>Add</button>
        </div>
    </span>
  </div>
</mat-drawer-container>
