::ng-deep body {
  overflow: no-display
}

.nav-props {
  background: #3f51b5;
  color: #fff;
}

.navbar-dark .navbar-toggler {
  margin: 0 15px;
}

.search-results {
  text-align: center;
  margin: 10px;
  font-weight: 600;
}

.expandable:target {
  height: 50px;
}

.example-container {
  min-height: 750px;
  margin: auto;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  width: 30%;
  padding: 20px 0 0 20px;
}

.p-card {
  padding: 0;
}

.in-cart {
  font-size: 13px;
  color: #3f51b5;
  font-weight: bolder;
  margin: auto;
  text-align: center;
}

.card-footer {
  padding: 0;
}

.row {
  margin: auto;
}

.cart-item-img {
  width: 100%;
}

.mat-card {
  padding: 0;
}

.card-img-top {
  width: 40%;
}

.productImg {
  padding: 22px;
}

.cartImg {
  padding: 5px;
}

.cartItem {
  padding: 0 29px 10px;
}

.input-res {
  border: none;
  text-align: center;
  padding-left: 13px;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.input-box {
  padding: 0;
}

.qnt-btn {
  color: #3f51b5;
  border-radius: 0;
  padding: 0;
  min-width: 0;
}
