:host ::ng-deep .ngx-text-highlight{
  background: yellow;
}

:host ::ng-deep .cartSearch div.mat-form-field-infix{
  border-top: 0;
}

.thumbnail{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-size: cover;
  border: solid 1px powderblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pSummary{
  text-align: center;
}

h6{
  line-height: 1.5;
}

.mb-5, .my-5 {
  margin-bottom: 1rem!important;
}
