<button mat-button routerLink="/shop">Back To the Shop</button>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div *ngIf="!isLoading">
  <div class="row" *ngFor="let cartProduct of currentCartProducts">
    <div class="col-md-5 to-left cartItem">
      <img class="cart-item-img" [src]="productsForCart[cartProduct._id].imageURL" alt="...">
    </div>
    <ul class="col-md-7 to-center">
      <li>
        <span>{{ cartProduct.quantity }}X</span> {{ productsForCart[cartProduct._id].name }}
        <div>{{ productsForCart[cartProduct._id].price * cartProduct.quantity | currency: 'USD'}}</div>
      </li>
    </ul>
  </div>
  <div>
    <p>Total: <span>{{ totalPrice | currency: 'USD' }}</span></p>
  </div>
</div>

<form>
  <div class="form-group">
    <label for="city">City</label>
    <input
    id="city"
    type="text"
    class="form-control"
    >
  </div>
  <div class="form-group">
    <label for="street">Street</label>
    <input
      id="street"
      type="text"
      class="form-control"
    >
  </div>
  <div class="form-group">
    <label for="shippingDate">Shipping Date</label>
    <input
      id="shippingDate"
      type="date"
      class="form-control"
    >
  </div>
  <div class="form-group">
    <label for="creditCard">Credit Card</label>
    <input
      id="creditCard"
      type="number"
      min="8" max="16"
      class="form-control"
    >
  </div>
</form>
