.landing {
  position: relative;
  background: url('../../../assets/05.png') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.transbox {
  margin: 30px 0;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.2;
  color: #3F51B5;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.productBag {
  width: 40%;
  border-radius: 10%;
}

.orderBag {
  width: 40%;
  border-radius: 10%;
}

.lowPrice{
  width: 40%;
  border-radius: 10%;
}

.cards {
  display: flex;
}


//div.transbox p {
//  margin: 0;
//  font-weight: bold;
//  font-size: 44px;
//  //color: #3F51B5;
//}


