.bg-primary {
  margin-bottom: 0 !important;
  background-color: #121348 !important;
  color: bisque !important;
}

.text-white {
  color: bisque!important;
}

.btn-primary {
  background-color: #121348 !important;
  color: white;
  margin: 0;
}

.btn-primary:hover {
  color: bisque;
}

.info-secondary {
  background-color: #F8AC43;
  color: #121348;
  padding-top: 50px;
}

.header-img {
  width: 100%;
  animation: fadein 2s;
}

.product-cards{
  padding: 30px;
  background-color: #121348;
  text-align: center;
}

.img-card {
  margin-top: 15px;
  width: 30%;
}

.catalog-header{
  color: bisque;
}

mdb-card {
  border: none;
}

mdb-card-body{
  color: bisque;
}

ol.carousel-indicators {
  margin: -8px !important;
}

.info-p {
  font-size: 20px;
}
