<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/22.jpg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/11.jpg" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/33.jpg" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>

<!--<div class="pts-container-wrap bg_iconbox " style="">-->
<!--  <div class="pts-inner container">-->

<!--    <div class="row-inner row-level-1">-->
<!--      <div class="row   clearfix">-->
<!--        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">-->
<!--          <div class="col-inner  " style="">-->
<!--            <div class="widget-iconbox">-->
<!--              <div class="pts-widget" id="wid-key_1496657407976"><div class="feature-box  block  feature-box-left">-->

<!--                <div class="fbox-content clearfix">-->
<!--                  <div class="fbox-image">-->

<!--                    <a href="#" title="">-->
<!--                      <img class="fa" src="https://demo.prestabrain.com/natural/modules/pspagebuilder/views/img/icon_box1.png" alt="icon">-->
<!--                    </a>-->

<!--                  </div>-->
<!--                  <div class="fbox-body">-->


<!--                    <div class="description"><h4>Worldwide Delivery</h4>-->
<!--                      <p>With sites in 5 languages, we shop to over 100 countries and regions.</p></div>-->
<!--                  </div>-->
<!--                </div>-->

<!--              </div></div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">-->
<!--          <div class="col-inner  " style="">-->
<!--            <div class="widget-iconbox">-->
<!--              <div class="pts-widget" id="wid-key_1496658465984"><div class="feature-box  block  feature-box-left">-->

<!--                <div class="fbox-content clearfix">-->
<!--                  <div class="fbox-image">-->

<!--                    <a href="#" title="">-->
<!--                      <img class="fa" src="https://demo.prestabrain.com/natural/modules/pspagebuilder/views/img/icon_box2.png" alt="icon">-->
<!--                    </a>-->

<!--                  </div>-->
<!--                  <div class="fbox-body">-->


<!--                    <div class="description"><h4>Fresh Food</h4>-->
<!--                      <p>We use only the best ingredients to cook the tasty fresh food for you.</p></div>-->
<!--                  </div>-->
<!--                </div>-->

<!--              </div></div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">-->
<!--          <div class="col-inner  border-none" style="">-->
<!--            <div class="widget-iconbox">-->
<!--              <div class="pts-widget" id="wid-key_1496658527927"><div class="feature-box  block  feature-box-left">-->

<!--                <div class="fbox-content clearfix">-->
<!--                  <div class="fbox-image">-->

<!--                    <a href="#" title="">-->
<!--                      <img class="fa" src="https://demo.prestabrain.com/natural/modules/pspagebuilder/views/img/icon_box3.png" alt="icon">-->
<!--                    </a>-->

<!--                  </div>-->
<!--                  <div class="fbox-body">-->


<!--                    <div class="description"><h4>24/7 Help Center</h4>-->
<!--                      <p>Round-the-clock assistance for a smooth shopping experience.</p></div>-->
<!--                  </div>-->
<!--                </div>-->

<!--              </div></div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="landing">-->
<!--  <div class="dark-overlay landing-inner text-light">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-md-12 text-center">-->
<!--          <h1 class="display-3 mb-4">FRESH-->
<!--          </h1>-->
<!--          <p class="lead">Eat clean and green.</p>-->
<!--          <p class="lead">Eat Organic</p>-->
<!--          <hr/>-->
<!--          <div class="container">-->
<!--            <div class="row">-->
<!--              <div class="col-4">-->
<!--                <img class="productBag" src="https://www.flaticon.com/premium-icon/icons/svg/869/869457.svg">-->
<!--                <div [countUp]="numOfProducts">0</div>-->
<!--              </div>-->
<!--              <div class="col-4">-->
<!--                <img class="orderBag" src="https://image.flaticon.com/icons/svg/1151/1151301.svg">-->
<!--                <div [countUp]="numOfOrders">0</div>-->
<!--              </div>-->
<!--              <div class="col-4">-->
<!--                <img class="orderBag" src="https://www.flaticon.com/premium-icon/icons/svg/2065/2065225.svg">-->
<!--                <div [countUp]="numOfOrders">0</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
