<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://demo.prestabrain.com/natural/modules/pssliderlayer/views/img/slider1.jpg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://demo.prestabrain.com/natural/modules/pssliderlayer/views/img/slider2.jpg">
  </mdb-carousel-item>
</mdb-carousel>

<!--<div class="landing">-->
<!--  <div class="dark-overlay landing-inner text-light">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-md-12 text-center">-->
<!--          <h1 class="display-3 mb-4">FRESH-->
<!--          </h1>-->
<!--          <p class="lead">Eat clean and green.</p>-->
<!--          <p class="lead">Eat Organic</p>-->
<!--          <hr/>-->
<!--          <div class="container">-->
<!--            <div class="row">-->
<!--              <div class="col-4">-->
<!--                <img class="productBag" src="https://www.flaticon.com/premium-icon/icons/svg/869/869457.svg">-->
<!--                <div [countUp]="numOfProducts">0</div>-->
<!--              </div>-->
<!--              <div class="col-4">-->
<!--                <img class="orderBag" src="https://image.flaticon.com/icons/svg/1151/1151301.svg">-->
<!--                <div [countUp]="numOfOrders">0</div>-->
<!--              </div>-->
<!--              <div class="col-4">-->
<!--                <img class="orderBag" src="https://www.flaticon.com/premium-icon/icons/svg/2065/2065225.svg">-->
<!--                <div [countUp]="numOfOrders">0</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
