.dashboard-wrapper {
  height: calc(100vh - 110px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121348;
}

.welcome-section {
  display: flex;
  padding-block: 20px;
  justify-content: center;
  align-items: center;
}

.welcome-text {
  color: wheat;
}
.welcome-image-container {
  text-align: center;
}

.welcome-image {
  width: 60%;
  animation: fadein 2s;
}

h4 {
  color: wheat;
}

.counters-section {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
}


.shop-btns {
  margin: 15px 0;
}

.counter {
  padding: 20px 0;
  gap: 10px;
  animation: fadein 1s;
}

.mat-fab {
  font-size: 38px;
}

.productBag {
  animation: fadein 1s;
}

.orderBag {
  animation: fadein 1s;
}

.counter-blue {
  background-color: #23346F;
}

.custom-blue {
  background: linear-gradient(40deg, #45cafc, #13143F) !important;
}
