<h2 mat-dialog-title>Edit Product</h2>
<form [formGroup]="editProductForm" (ngSubmit)="save(data.preEditFields._id)">
  <mat-dialog-content class="mat-typography">
    <div class="form-body">

      <mat-form-field appearance="outline" class="justifier">
        <mat-label>Name</mat-label>
        <input class="form-input" matInput
               placeholder="{{ capFirstLetter(data.preEditFields.name) }}"
               formControlName="name"
               [value]="data.preEditFields.name">
        <mat-error *ngIf="editProductForm.controls['name'].errors?.required">Product name is required.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="justifier">
        <mat-label>Category</mat-label>
        <mat-select placeholder="{{ data.categories[data.preEditFields.categoryId].name }}"
                    formControlName="categoryId">
          <mat-option *ngFor="let item of data.categories | keyvalue" [value]="data.categories[item.key]._id">
            {{ data.categories[item.key].name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="editProductForm.controls['categoryId'].errors?.required">Category is required.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="justifier">
        <mat-label>Price</mat-label>
        <input class="form-input" matInput
               type="number"
               [min]="0"
               placeholder="{{ data.preEditFields.price | currency: 'USD'}}"
               formControlName="price"
               [value]="data.preEditFields.price"
        >
        <mat-error *ngIf="editProductForm.controls['price'].errors?.required">Price is required.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="justifier">
        <mat-label>Image URL</mat-label>
        <input class="form-input" matInput
               placeholder="{{ data.preEditFields.imageURL }}"
               formControlName="imageURL"
               [value]="data.preEditFields.imageURL"
        >
        <mat-error *ngIf="editProductForm.controls['imageURL'].errors?.required">Image URL is required.</mat-error>
      </mat-form-field>

    </div>
  </mat-dialog-content>
  <div class="form-footer">
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" [disabled]="!editProductForm.valid">Save Changes</button>
    </mat-dialog-actions>
  </div>
</form>
