<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button routerLink="" mat-button>Shopping Experience</button>
    <span class="spacer"></span>
      <button *ngIf="authService.isUserLoggedIn()" routerLink="dashboard" mat-button>Dashboard</button>
      <button *ngIf="!authService.isUserLoggedIn()" routerLink="signup" mat-button>SignUp</button>
      <button *ngIf="!authService.isUserLoggedIn()" routerLink="login" mat-button>Login</button>
<!--    create DropDown menu here-->
     <button *ngIf="authService.isUserLoggedIn()" mat-button (click)="onLogOutClick()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
