<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button routerLink="" mat-button><img src="../../../../assets/logo-white.png" alt="logo"></button>
    <span class="spacer"></span>

    <button *ngIf="!authService.isUserLoggedIn()" routerLink="signup" mat-button>SignUp</button>
    <button *ngIf="!authService.isUserLoggedIn()" routerLink="login" mat-button>Login</button>

    <button mat-button *ngIf="authService.isUserLoggedIn()" [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
       {{ capFirstLetter(authService.currentUserData.firstName) }} {{ capFirstLetter(authService.currentUserData.lastName) }}
    </button>

    <mat-menu #menu="matMenu">
      <button class="justifier" mat-menu-item routerLink="dashboard">Dashboard</button>
      <button class="justifier" mat-menu-item routerLink="shop">Shop</button>
      <button mat-menu-item (click)="onLogOutClick()">Logout</button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
