<h2 mat-dialog-title>Add New Product</h2>
<form [formGroup]="addProductForm" (ngSubmit)="save()">
  <mat-dialog-content class="mat-typography">
    <div class="form-body">

      <mat-form-field appearance="outline" class="justifier">
        <mat-label>Name</mat-label>
        <input class="form-input" matInput
               placeholder="Name"
               formControlName="name">
        <!--        <mat-error *ngIf="editProductForm.get('name').errors?.serverError">-->
        <!--          {{ editProductForm.get('name').errors?.serverError }}-->
        <!--        </mat-error>-->
      </mat-form-field>

      <mat-form-field appearance="outline" class="justifier">
        <mat-label>Category</mat-label>
        <mat-select placeholder="Category"
                    formControlName="categoryId">
          <mat-option *ngFor="let item of data.categories | keyvalue" [value]="data.categories[item.key]._id">
            {{ data.categories[item.key].name }}
          </mat-option>
        </mat-select>
        <!--        <mat-error *ngIf="editProductForm.get('category').errors?.serverError">-->
        <!--          {{ editProductForm.get('category').errors?.serverError }}-->
        <!--        </mat-error>-->
      </mat-form-field>

      <mat-form-field appearance="outline" class="justifier">
        <mat-label>Price</mat-label>
        <input class="form-input" matInput
               type="number"
               [min]="0"
               placeholder="Price"
               formControlName="price"
        >
        <!--        <mat-error *ngIf="editProductForm.get('price').errors?.serverError">-->
        <!--          {{ editProductForm.get('price').errors?.serverError }}-->
        <!--        </mat-error>-->
      </mat-form-field>

      <mat-form-field appearance="outline" class="justifier">
        <mat-label>Image URL</mat-label>
        <input class="form-input" matInput
               placeholder="Image URL"
               formControlName="imageURL">
        <!--        <mat-error *ngIf="editProductForm.get('imageURL').errors?.serverError">-->
        <!--          {{ editProductForm.get('imageURL').errors?.serverError }}-->
        <!--        </mat-error>-->
      </mat-form-field>

    </div>
  </mat-dialog-content>
  <div class="form-footer">
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit">Save Product</button>
    </mat-dialog-actions>
  </div>
</form>

